.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    display: flex;
  }
  .setting {
    position: absolute;
    right: 0;
    height: 64px;
    margin-right: 10px;
  }
  .header-trigger {
    height: 64px;
    padding: 0 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .setting .setting-ul li {
    float: left;
    list-style: none;
    padding: 0 8px;
  }
  .setting .setting-ul li.username {
    position: relative;
    top: -4px;
  }
  .setting .setting-ul li:last-child {
    padding-right: 0;
  }